.bank-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 400px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 28px;
  padding: 0;

  list-style: none;

  li {
    overflow: hidden;

    filter: grayscale(100%);

    &.selected,
    &:hover {
      filter: grayscale(0%);
    }

    @include at($min, $vp-small) {
      max-width: 46%;
    }
  }

  .bank-item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 165px;
    max-width: 100%;
    height: 90px;
    padding: 10px;
    margin: 5px;

    background-color: white;
    cursor: pointer;

    transition: all .4s ease;

    > img {
      justify-content: center;
      max-width: 90%;
      max-height: 46px;
    }
  }
}

.bank-selection {
  max-width: 400px;
  margin: 0 auto;

  .button {
    max-width: 341px;
  }
}

.choose-bank {
  .errors {
    margin-bottom: 4px;

    span {
      max-width: 340px;

      text-align: center;
    }
  }
}


// Animations

// Intro text

.hero-choosebank-appear {
  opacity: 0.01;
}

.hero-choosebank-appear.hero-choosebank-appear-active {
  opacity: 1;
  transition: all 400ms ease;
}

// Validation error

.bank-error-appear {
  opacity: 0.01;
  transform: translate3d(0, 100%, 0);
}

.bank-error-appear.bank-error-appear-active {
  opacity: 1;
  transition: all 300ms ease;
  transform: translate3d(0, 0, 0);
}

// Bank list

.bank-items-appear {
  li .bank-item {
    transform: translate3d(0, 150%, 0);
  }
}

.bank-items-appear.bank-items-appear-active {
  transition: all 600ms $tr-easeout;
  li {
    .bank-item {
      transform: translate3d(0, 0, 0);
      transition: all 600ms $tr-easeout;
    }

    &:nth-child(1) {
      .bank-item {
        transition-delay: 150ms;
      }
    }
    &:nth-child(2) {
      .bank-item {
        transition-delay: 200ms;
      }
    }
    &:nth-child(3) {
      .bank-item {
        transition-delay: 250ms;
      }
    }
    &:nth-child(4) {
      .bank-item {
        transition-delay: 300ms;
      }
    }
    &:nth-child(5) {
      .bank-item {
        transition-delay: 350ms;
      }
    }
    &:nth-child(6) {
      .bank-item {
        transition-delay: 400ms;
      }
    }
  }
}

// Button

.bank-button-appear {
  opacity: 0.01;
}

.bank-button-appear.bank-button-appear-active {
  opacity: 1;
  transition: all 400ms ease;
  transition-delay: 600ms;
}
