@import '../../../static/stylesheets/abstracts/variables';

.layout .logo {
  text-align: center;
  margin-bottom: 20px;
  overflow: hidden;
}

.home-page {
  .header {
    @include at($min, $vp-xsmall) {
      justify-content: flex-end;
    }

    .logo {
      @include at($min, $vp-xsmall) {
        display: none;
      }
    }
  }
}

.hero-logo,
.hero-title,
.hero-copy {
  overflow: hidden;
}


// Logo animation

.hero-logo-appear,
.hero-title-appear,
.hero-copy-appear {
  transform: translate3d(0, 200%, 0);
}

.hero-logo-appear.hero-logo-appear-active,
.hero-title-appear.hero-title-appear-active,
.hero-copy-appear.hero-copy-appear-active {
  opacity: 1;
  transition: all 800ms $tr-easeout;
  transform: translate3d(0, 0, 0);
}


// Titles animations

.hero-title-appear.hero-title-appear-active {
  transition-delay: 200ms;
}

.hero-copy-appear.hero-copy-appear-active {
  transition-delay: 400ms;
}

// Button animation

.hero-button-appear {
  opacity: 0.01;
  transform: translate3d(0, 0, 0);
}

.hero-button-appear.hero-button-appear-active {
  opacity: 1;
  transition: all 600ms $tr-easeout;
  transition-delay: 700ms;
}
