.errors {
  > span {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    padding: .2em .5em;

    color: #fff;
    background: #F97056;

    text-align: left;
    font-size: 90%;
  }
}

.form-input {
  margin-top: 20px;
  margin-bottom: 49px;

  label {
    display: none;
  }

  input {
    padding: 10px;
    width: 300px;
    max-width: 100%;

    border: 0;
    border-radius:1px;
    border-bottom: 3px solid lightgray;
    outline-color: #F97056;
  }
}
