@import "../../../client/components/Layout/Layout";

.main-content {
  padding: 70px 20px;

  text-align: center;
  font-size: 20px;

  @include at($min, $vp-xsmall) {
    padding-bottom: 146px;
  }

  h1 {
    color: white;
  }

  p {
    margin-bottom: 24px;

    color: #fff;

    @include at($min, $vp-xsmall) {
      margin-bottom: 40px;
    }
  }

  .button {
    margin: 0 auto;
  }
}

.secondary-content {
  padding: 70px 0;
  background-color: white;

  text-align: center;

  @include at($min, $vp-xsmall) {
    padding: 85px 0;
    text-align: left;
  }

  .wrap {
    justify-content: space-between;
  }
}

.secondary-content-copy {
  flex-basis: 470px;

  padding-right: 20px;
  margin-bottom: 40px;

  font-size: 17px;

  @include at($min, $vp-xsmall) {
    margin-bottom: 0;
  }

  h2 {
    color: $color-blue;
    font-size: 24px;

    @include at($min, $vp-xsmall) {
      font-size: 2.47rem;
    }
  }

  p {
    color: dimgray;
  }
}


// Generic wrap
.wrap {
  width: $wrap;
  max-width: 100%;

  margin: auto;
  padding: 0 1.17rem;

  @include at($min, $vp-xsmall) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
