// Colors

$color-blue: #304FFE;
$color-lightblue: #2ABBF0;
$color-darkblue: #1D32A4;
$color-orange: #F97056;


// Breakpoints

$vp-small: 360px;
$vp-xsmall: 600px;
$vp-medium: 800px;
$vp-large: 1024px;

// Wrap max width

$wrap: 890px;

// Easings for animations

$tr-easeout: cubic-bezier(.17, .67, .26, .96);
