.footer {
  background-color: #1D32A4;
  > .wrap {
    padding-top: 75px;
    padding-bottom: 75px;
    display: block;
  }

  p {
    text-align: center;
    font-size: 12px;
    color: #D9D9D9;
  }
}
