.info,
.intro {
  max-width: 100%;

  margin: auto;
}

.info {
  width: 504px;
  margin-bottom: 17px;

  color: #fff;

  font-size: 16px;
  text-align: center;

  @include at($min, $vp-xsmall) {
    font-size: 18px;
    text-align: left;
  }
}

.intro {
  display: flex;
  justify-content: space-between;

  width: 370px;
  margin-bottom: 41px;

  color: #fff;
  font-weight: 600;

  @include at($min, $vp-xsmall) {
    padding: 18px;

    border: #7287fe 1px solid;
  }

  .names {
    text-align: left;
  }

  .account {
    text-align: right;
  }
}

// Animations

.intro-statement-appear,
.transactions-appear {
  opacity: 0.01;
}

.intro-statement-appear.intro-statement-appear-active,
.transactions-appear.transactions-appear-active {
  opacity: 1;
  transition: all 400ms $tr-easeout;
  transition-delay: 200ms;
}

.transactions-appear.transactions-appear-active {
  transition-duration: 600ms;
  transition-delay: 300ms;
}
