.transaction-wrap {
  margin: auto;

  width: 504px;
  max-width: 100%;

  background: #fff;
  text-align: left;
}

.transaction-day {
  margin: 0;
  padding: 12px 1rem;

  color: #787878;
  background: #ededed;

  font-size: 14px;
  font-weight: 400;
}

.transaction {
  display: flex;
  align-content: space-around;
  justify-content: space-between;

  padding: 18px 1rem;

  color: #333333;
  border-bottom: #e7e7e7 1px solid;

  font-size: 16px;
}

/*
  [1] - Not the best solution, but as this component is the exception
        I think it's fair enough to make it behave "badly" instead of
        having to set a padding to all elements individually.
*/

.transactions {
  margin-bottom: 26px;
  margin-left: -1.5rem;  // [1]
  margin-right: -1.6rem; // [1]

  @include at($min, $vp-xsmall) {
    margin-left: auto;
    margin-right: auto;
  }
}
