.button.login-button {
  max-width: 300px;
  width: 100%;
}

// Hero animation

.hero-login-appear {
  transform: translate3d(0, 200%, 0);
}

.hero-login-appear.hero-login-appear-active {
  transition: all 400ms $tr-easeout;
  transform: translate3d(0, 0, 0);
}


// Form animation

.login-form-appear {
  opacity: 0.01;
  transform: translate3d(0, 5%, 0);
}

.login-form-appear.login-form-appear-active {
  opacity: 1;
  transition: all 400ms $tr-easeout;
  transition-delay: 200ms;
  transform: translate3d(0, 0, 0);
}
