@import '../../../static/stylesheets/abstracts/variables';
$spacer: 1rem;

.button {
  display: block;
  position: relative;
  max-width: 20rem;
  padding: $spacer $spacer*1.5;

  border: 0;
  color: #FFFFFF;
  border-radius: 2px;
  background: $color-orange;
  cursor: pointer;

  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: normal;
  text-decoration: none;
  text-align: center;

  > span {
    position: relative;
    z-index: 10;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    width: 100%;
    height: 100%;

    transition: all .5s $tr-easeout;
    background: darken($color-orange, 9%);
    transform: scale(0, 1);
  }

  &:hover {
    &:before {
      transform: scale(1);
    }
  }
}
