.partners {
  background-color: #2ABBF0;
  min-height: 145px;

  padding: 3.94rem 0;

  text-align: center;

  @include at($min, $vp-xsmall) {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
  }

  h4 {
    margin: 0;
    margin-bottom: 7px;

    color: white;
    font-weight: 900;

    @include at($min, $vp-xsmall) {
      margin-right: 23px;
      margin-bottom: 0;
    }
  }
}

.partners-list {
  margin: 0;
  padding: 0;

  list-style: none;

  @include at($min, $vp-xsmall) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
    padding: 1.437rem 0;

    @include at($min, $vp-xsmall) {
      padding: 1.437rem;
    }

    &:last-child {
      @include at($min, $vp-xsmall) {
        padding-right: 0;
      }
    }

    img {
      height: 32px;

      @include at($min, $vp-xsmall) {
        height: auto;
      }
    }
  }
}
