@import 'typograph';
@import 'resets';

html {
  font-size: 80%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.42rem;

  @include at($min, $vp-xsmall) {
    font-size: 106.3%;
  }
}

body {
  background-color: #304FFE;

  margin: 0;
}

input {
  font-size: 20px;
  font-weight: normal;

  border-bottom: #D9D9D9;
}
