// ## Changes the box-model
//    This makes life much easier when working with RWD.
///////////////////////////////////////////////////////////////////////////////

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

// ## Responsive images
///////////////////////////////////////////////////////////////////////////////

img {
  max-width: 100%;
  height: auto;
}
