$spacer: 1rem;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  line-height: 1.25;
}

h1 {
  font-size: 2.47rem;
}

h2 {
  font-size: 1.88rem;

  margin: 0 0 $spacer 0;
}

h3 {
  font-size: 1.29rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin: 0 0 $spacer 0;
}

