.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;

  background: #fff;

  @include at($min, $vp-xsmall) {
    background: transparent;
  }

  .logo {
    width: 110px;
    height: 57px;
  }
  .signin {

  }
}
